@import 'themes/theme';

body {
	padding: 16px;
	margin: 0;
	font-family: $font-main;
	font-size: 13px;
	color: $c-text;
	line-height: 22px;
}
p {
	font-size: 13px;
	color: $c-text;
	line-height: 22px !important;
}