@for $i from 1 through 60 {
	
	/* Row
 	   ========================================================================== */
	.pls_row-#{$i} {
		margin-left: -#{$i}px;
		margin-right: -#{$i}px;

		&.inline {
			letter-spacing: -0.4em;
		}
	}

	/* Padding
 	   ========================================================================== */
 	.pls_padding-#{$i} {
 		padding: 0px + $i !important;
 	}
  	.pls_padding-y-#{$i} {
	  	padding-top: 0px + $i !important;
	  	padding-bottom: 0px + $i !important;
  	}

	.pls_padding-x-#{$i} {
	 	padding-left: 0px + $i !important;
	 	padding-right: 0px + $i !important;
  	}

	.pls_padding-top-#{$i} {
	 	padding-top: 0px + $i !important;
  	}

	.pls_padding-bottom-#{$i} {
	 	padding-bottom: 0px + $i !important;
  	}

	.pls_padding-left-#{$i} {
	 	padding-left: 0px + $i !important;
  	}

	.pls_padding-right-#{$i} {
	 	padding-right: 0px + $i !important;
  	}

	/* Margin
 	   ========================================================================== */
 	.pls_margin-#{$i} {
 		margin: 0px + $i !important;
 	}
	.pls_margin-y-#{$i} {
	  	margin-top: 0px + $i !important;
	  	margin-bottom: 0px + $i !important;
  	}

  	.pls_margin-x-#{$i} {
	 	margin-left: 0px + $i !important;
	 	margin-right: 0px + $i !important;
  	}

	.pls_margin-top-#{$i} {
		margin-top: 0px + $i !important;
  	}

	.pls_margin-bottom-#{$i} {
		margin-bottom: 0px + $i !important;
  	}

	.pls_margin-left-#{$i} {
		margin-left: 0px + $i !important;
  	}

	.pls_margin-right-#{$i} {
	 	 margin-right: 0px + $i !important;
  	}
}


// No margin & padding
.pls_no-margin-top {
 	margin-top: 0 !important;
}

.pls_no-margin-bottom {
 	margin-bottom: 0 !important;
}

.pls_no-margin-left {
 	margin-left: 0 !important;
}

.pls_no-margin-right {
 	margin-right: 0 !important;
}
.pls_no-padding-top {
 	padding-top: 0 !important;
}

.pls_no-padding-bottom {
 	padding-bottom: 0 !important;
}

.pls_no-padding-left {
 	padding-left: 0 !important;
}

.pls_no-padding-right {
 	padding-right: 0 !important;
}


/* Column
 	========================================================================== */
@for $i from 0 through 100 {
	
	@if $i == 33 {
		.pls_column-#{$i} {
			width: 33.333%;
			display: inline-block;
			padding: 0 8px; 
			vertical-align: top;
			letter-spacing: normal;
		}
	}
	@else {
		.pls_column-#{$i} {
			width: calc( #{$i}% - 0% );
			display: inline-block;
			padding: 0 8px;
			vertical-align: top;
			letter-spacing: normal;
		}
	}
	
}


// Tablets
@include media-breakpoint-down(sm) {

	[class*="pls_column-"] {
		width: 100%;
	}
	[class*="pls_column-"].pls_column-break-xs {
		width: 50%;
	}

}


// Phones
@include media-breakpoint-down(xs) {

	[class*="pls_column-"].pls_column-break-xs {
		width: 100%;
	}

}