.scroll-wrapper {
	height: 100%;

	&.scrollbar-for-sidebar {
		height: 100%;

		.scroll-content.scroll-scrolly_visible {
			padding-right: 5px;
		}
		> .scroll-element.scroll-y {
			width: 4px !important;
		}
		.scroll-element_outer {
			border-radius: 0;
		}
		.scroll-element_track {
			border-radius: 0;
			background-color: transparent !important;
		}
		.scroll-element .scroll-bar {
			cursor: pointer;
			border-radius: 0;
			background-color: rgba(255,255,255,0.7) !important;

			&:hover,
			&:focus,
			&:active {
				background-color: rgba(255,255,255,0.95) !important;
			}
		}
	}

	.scroll-content.scroll-scrolly_visible {
		padding-right: 15px;
	}
	> .scroll-element.scroll-y {
		width: 6px !important;
		left: auto;
		right: 1px;
	}
	> .scroll-element.scroll-x {
		height: 6px !important;
	}
	.scroll-element_track {
		background-color: $c-bg-semidark !important;
	}
	.scroll-element .scroll-bar {
		cursor: pointer;
		background-color: $c-bg-dark !important;
		@include transition( background-color 0.2s ease-in-out );

		&:hover,
		&:focus,
		&:active {
			background-color: $c-info !important;
		}
	}
}