/*
Approve
*/

.pls_form-approval {
	display: block;
	margin-left: -16px;
	margin-right: -16px;
	letter-spacing: -0.3em;

	& + .pls_form-buttons {
		width: 100%;
    	max-width: 100%;
	}
	.pls_form-wrap {
		width: calc(50% - 32px);
		display: inline-block;
		position: relative;
		margin: 0 16px;
		vertical-align: top;
		letter-spacing: normal;
	}
	.pls_form-wrap-header {
		width: 100%;
	}
	.pls_form-row {
		margin-left: -20px;
		margin-right: -20px;
	}

	.pls_form-category {
		width: calc(33.333% - 16px);
	}

	.pls_form-card {
		width: calc(50% - 16px);
	}

	.pls_column-50 {
		width: calc(100% - 16px);
	}
}


// Disabled
.pls_disabled {
	opacity: 0.7;

	.pls_uploader-wrap {
		.pls_uploader-button {
			display: none;
		}
		.pls_uploader-label {
			pointer-event: none;
			cursor: not-allowed;
		}
	}
	.pls_input,
	.pls_textarea,
	.pls_checkbox,
	.pls_button,
	.pls_form-card.add,
	.pls_form-category,
	.pls_switcher,
	.pls_form-loyalty-scheme {
		pointer-event: none;
		cursor: not-allowed;
	}
}